*::before, *::after, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1190px;
    margin: 0 auto;
    padding: 0 20px;
}
.Hero{
    padding-top: 4rem;
    height: auto;
}

.layout{
    min-height: 97vh;
}